<div class="container">
    <div class="login-form">
        <div class="create-account">
            <a>
                Have an account?
            </a>
        </div>
        <div class="form-group">
            <input class="user-name" type="text" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="password" type="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="sign-in">
                SIGN IN
            </button>
        </div>
        <div class="bottom-login-form">
            <div class="">
                <form>
                    <div class="left">
                        <input type="checkbox" id="check">
                        <label for="check">Remember Me</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>