<div class="side-bar">
    <div>
        <div class="container">
           <div class="side-bar-title">
                <h1>
                    My Todo
                </h1>
           </div>
           <div class="organization">
                <h2>
                    Runway Club
                </h2>
           </div>
           <div class="user">
                <img [src]="authService.user?.photoURL" alt="">
                <p>
                    {{authService.user?.displayName}}
                </p>
           </div>
           <div class="choice">
                <button>
                    <i class="fi fi-rr-home"></i>
                    Home
                </button>
                <button>
                    <i class="fi fi-rr-globe"></i>
                    Organization
                </button>
                <button>
                    <i class="fi fi-rr-ballot"></i>
                    Projects
                </button>
                <!-- <button>
                    <i class="fi fi-rr-rocket-lunch"></i>
                    Todo
                </button>
                <button>
                    <i class="fi fi-br-hourglass-end"></i>
                    Doing
                </button>
                <button>
                    <i class="fi fi-rs-check"></i>
                    Done
                </button> -->
           </div>
        </div>
    </div>
</div>

